body, td
{
font-family: "Times New Roman", Times, serif;
font-size: 16pt;
color: black;
}

h1
{
font-family: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
font-size: 19pt;
color: black;
font-weight: bold;
text-indent: -27px;
margin-left: 27px;
margin-top: 18px;
margin-bottom: 0;
}

h2
{
font-family: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
font-size: 13pt;
color: black;
font-weight: bold;
margin-left: 10px;
margin-right: 10px;
margin-top: 0;
margin-bottom: 0;
}

h4
{
font-family: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
font-size: 13pt;
color: black;
font-weight: bold;
margin-left: 25px;
margin-top: 5px;
margin-bottom: 0;
}

h5
{
font-family: Tahoma, Verdana, Geneva, Helvetica, sans-serif;
font-size: 14pt;
color: black;
font-weight: bold;
margin-left: 44px;
margin-top: 3px;
margin-bottom: 0px;
}

p
{
font-family: "Times New Roman", Times, serif;
font-size: 16pt;
color: black;
text-indent: -19px;
margin-left: 19px;
margin-top: 0;
margin-bottom: 0;
}

.p2
{
font-family: "Times New Roman", Times, serif;
font-size: 16pt;
color: black;
text-indent: -19px;
margin-left: 19px;
margin-top: 0;
margin-bottom: 7px;
}

.c1, .c1 TD
{
vertical-align:top;
text-align:left;
width:28%;
}

.c32, .c32 TD
{
vertical-align:top;
text-align:center;
width:9%;
}

.c22, .c22 TD
{
vertical-align:middle;
text-align:left;
width:72%;
}

.c3, .c3 TD
{
vertical-align:top;
text-align:left;
width:63%;
}
